
#sk_container {
	padding: : 40px;
}
.sk_skill {
    color: white;
    margin: 2.5px 10px 2.5px 10px;
    padding: 10px;
    display:inline-block;
    border-radius: 20px;
}

.sk_skill_missed {
	background-color: gray;	
}

.sk_skill_match {
	background-color: green;	
}

#loading_view { 
    heigth: 100%;
	width: 100%;
	width: auto;
	font-size:20px;
}